*{
    box-sizing: border-box;
}
html{
    font-family: "Playfair Display", serif;
    font-size: 16px;
}

body{
    margin: 0;
}

#hero{
    background-image: url('/assets/01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    width: 100%;
    height: 50rem;
}

.grid{
    display: grid;
}
.header{
    grid-template-columns: auto 80% auto;
    padding: 0.5rem;
}
.centered_items{
    justify-self: center;
}
.perfect_center{
    place-self: center;
}

.contents{
    margin: 1rem 0;
    padding: 0 0.5rem;
}
.nav-link{
    display: inline-block;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    font-size: 1.25rem;
    transition: all 0.5s;
}
.center{
    place-items: center;
}
.nav-link:hover{
    font-size: 1.75rem;
}

#body, footer{
    background-color: #0B1D26;
    color: white
}

#one{
    margin-top: -3.5rem;
    z-index: 1;
}

#side1{
    background-image: url(/assets/01_BG.png);
    background-repeat: no-repeat;
    padding-top: 2rem;
}

#side2{
    background-image: url(/assets/02_BG.png);
    background-repeat: no-repeat;
    padding-top: 2rem;
}
#side3{
    background-image: url(/assets/03_BG.png);
    background-repeat: no-repeat;
    padding-top: 2rem;
}

.side_text{
    padding-left: 3.5rem;
    padding-top: 2rem;
    text-align: justify;
    align-self: center;
    font-size: 1.25rem;
}
.two_cols{
    grid-template-columns: 50% auto;
    width: 80%;
}
.side_img{
    width: 60%;
    border: 0.25rem solid white;
    border-radius: 1rem ;
}

.highlight{
    color: #FBD784;
}
.topic{
    text-transform: uppercase;
    text-indent: 3.5rem;
    letter-spacing: 1.5px;
    font-weight: bold;
}
a:visited{
    color: white
}

h2{
    margin: 1rem 0;
}

footer{
    grid-template-columns: 60% auto auto;
    padding: 0.5rem 1rem;
}
footer, .highlight{
    font-family: "DM Sans",sans-serif;
    font-weight: bolder;
}
.reversed{
grid-template-columns: auto 50%;
}

a{
    display: block;
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    html{ font-size: 10px;}
}